@import "tailwindcss";
@import "tw-animate-css";
@import "./common.css";

@custom-variant dark (&:is(.dark *));

:root {
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* inter-regular - greek_latin */
@font-face {
	font-display: swap;
	/* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/inter-v19-greek_latin-regular.woff2") format("woff2");
}

/* inter-700 - greek_latin */
@font-face {
	font-display: swap;
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/inter-v19-greek_latin-700.woff2") format("woff2");
}

/* syne-regular - greek_latin */
@font-face {
	font-display: swap;
	font-family: "Syne";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/syne-v23-greek_latin-regular.woff2") format("woff2");
}

/* syne-700 - greek_latin */
@font-face {
	font-display: swap;
	font-family: "Syne";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/syne-v23-greek_latin-700.woff2") format("woff2");
}

/* End of Selection */
/******************************/

:root {
	--f-fallback: ui-sans-serif, system-ui, -apple-system, sans-serif;
	--f-sans: "Inter", var(--f-fallback);
	--f-mono: "Syne", var(--f-fallback);

	/* Typography */
	/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
	--step--2: clamp(0.78rem, calc(0.71rem + 0.35vw), 0.96rem);
	--step--1: clamp(0.94rem, calc(0.84rem + 0.51vw), 1.2rem);
	--step-0: clamp(1.13rem, calc(0.98rem + 0.73vw), 1.5rem);
	--step-1: clamp(1.35rem, calc(1.15rem + 1.02vw), 1.88rem);
	--step-2: clamp(1.62rem, calc(1.34rem + 1.41vw), 2.34rem);
	--step-3: clamp(1.94rem, calc(1.56rem + 1.92vw), 2.93rem);
	--step-4: clamp(2.33rem, calc(1.81rem + 2.59vw), 3.66rem);
	--step-5: clamp(2.8rem, calc(2.11rem + 3.47vw), 4.58rem);

	--body-max-width: 1920px;

	/* Transitions */
	/* --ease-out-soft: cubic-bezier(0.28, 0, 0.49, 1); */
	--ease-out-quad: cubic-bezier(0.4, 0.84, 0.44, 1);

	/* Z-index */
	--z-above: 11;
	--z-cursor: 12;
	--z-overlay: 13;
	/* Mask tricks */
	/* mask-image: radial-gradient(50% 50% at 50% 50%,#fff 60.94%,transparent 100%); */
	/* mask-size: cover; */

	--c-bg: #e7e7e7;
	--c-bg_dark: #1f1f1f;
	--c-bg_dark_2: #363636;
	--c-text: #6a6e71;
	--c-text_light: #e9e9e9;
	--c-bg_light: #e7e7e7;
}

/* :where(html) {
	To compesate for the fixed header when clicking a navigatable anchor
	scroll-padding-top: calc(var(--header-height) + 10px);
	scroll-behavior: smooth;
} */

/* Typography */

.f-mono {
	font-family: var(--f-mono);
}

.f-sans {
	font-family: var(--f-sans);
}

/* This is a hack to remove the autofill color from the input fields */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-background-clip: text;
	background-color: transparent;
	transition: background-color 5000s ease-in-out 0s;
}

/*******************************/
/* TODO: These should be moved elsewhere */

/* Allows for blog post to have a good spacing */
.flow > * + * {
	margin-top: 1em;
}

/*******************************/

/* Global classes */

.clickable {
	transition:
		color 0.2s ease-in,
		text-shadow 0.2s ease-in;
}

.clickable:hover {
	color: var(--c-text_light_hover);
	text-shadow:
		0 0 8px rgba(238, 238, 238, 0.171),
		6px 6px 16px rgba(219, 219, 219, 0.103);
}

/* Global fade in animation */

@keyframes fadeInAnim {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOutAnim {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.fade-in[data-state="visible"] {
		transition:
			transform 700ms cubic-bezier(0.42, 0, 0.32, 1.17),
			opacity 1000ms cubic-bezier(0.42, 0, 0.32, 1.17) 200ms;
	}

	.fade-in[data-state="hidden"] {
		transform: translateY(2ex);
		opacity: 0;
	}
}
