---
import AddTripComp from "@components/interactive/Trip/AddTripComp.svelte";
import PageLayout from "@layouts/PageLayout.astro";

export const prerender = false;

const seo = {
	title: "Fishing Notebook - Το Ημερολόγιο του Ψαρά",
	description: "Καταγράψτε τις ψαρευτικές σας εμπειρίες",
	keywords: "fishing, ψάρεμα, fishing journal",
};
---

<PageLayout seo={seo}>
	<div class="flex flex-col items-center justify-center gap-8">
		<!-- TODO: There is a hydration mismatch because of the internal comps
			once fixed update to client:load
		-->
		<AddTripComp client:only="svelte" />
	</div>
</PageLayout>
