---
import { auth } from "src/actions/auth";
import Calendar2 from "@components/interactive/Calendar/Calendar2.svelte";
import PageLayout from "@layouts/PageLayout.astro";

export const prerender = false;

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/");
}
const seo = {
	title: "Fishing Notebook - Το Ημερολόγιο του Ψαρά",
	description: "Καταγράψτε τις ψαρευτικές σας εμπειρίες",
	keywords: "fishing, ψάρεμα, fishing journal",
};
---

<PageLayout seo={seo}>
	<Calendar2 />
	<h1>You made it {session?.user.name} !</h1>
</PageLayout>
