---
import { auth } from "src/actions/auth";
import PageLayout from "@layouts/PageLayout.astro";
import Trip from "@components/interactive/Trip/Trip.svelte";

export const prerender = false;

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/");
}
const seo = {
	title: "Fishing Notebook - Το Ημερολόγιο του Ψαρά",
	description: "Καταγράψτε τις ψαρευτικές σας εμπειρίες",
	keywords: "fishing, ψάρεμα, fishing journal",
};
---

<PageLayout seo={seo}>
	<div class="flex flex-col items-center justify-center gap-8">
		<h1 class="text-2xl font-bold">You made it {session?.user.name} !</h1>
		<Trip client:load />
	</div>
</PageLayout>
