---
import { auth } from "src/actions/auth";

export const prerender = false;

const session = await auth.api.getSession({
	headers: Astro.request.headers,
});

if (!session) {
	return Astro.redirect("/");
}
---

<script>
	const { authClient } = await import("../client-libs/auth");
	const ep = await authClient.getSession();
	console.log("!! ", ep);
</script>
<h1>You made it {session?.user.name} !</h1>
