<label class="z-2 w-[30px] h-[30px] block cursor-pointer" for="burger-check">
	<input type="checkbox" id="burger-check" class="hidden peer" />
	<span class="block bg-white rounded-[10px] h-[2px] my-[5px] w-1/2 transition-all duration-400 ease-[cubic-bezier(0.68,-0.6,0.32,1.6)] peer-checked:origin-bottom peer-checked:rotate-45 peer-checked:translate-x-px"></span>
	<span class="block bg-white rounded-[10px] h-[2px] my-[5px] w-full transition-all duration-400 ease-[cubic-bezier(0.68,-0.6,0.32,1.6)] peer-checked:origin-top peer-checked:-rotate-45"></span>
	<span class="block bg-white rounded-[10px] h-[2px] my-[5px] w-3/4 transition-all duration-400 ease-[cubic-bezier(0.68,-0.6,0.32,1.6)] peer-checked:origin-bottom peer-checked:w-1/2 peer-checked:translate-x-[12px] peer-checked:-translate-y-[3px] peer-checked:rotate-45"></span>
</label>
