---
import { Icon } from 'astro-icon/components';
import { SOCIALS } from '@data/socials.const';
---

<ul class="flex list-none gap-2">
	{
		SOCIALS.map(social => (
			<li class="flex items-center">
				<a class="flex items-center p-4 w-full h-full transition-opacity duration-200 ease hover:opacity-80"
					href={social.url}
					title={`Open ${social.name} profile`}
				>
					<Icon name={social.icon} />
				</a>
			</li>
		))
	}
</ul>
